@import url(https://fonts.googleapis.com/css?family=Antic+Slab);
html, body {
    height: 100%;
}

h1 {
    font-family: 'Antic Slab', serif;
    font-size: 80px;
    color: #000000 !important;
}

.lead {
    color: #000000;
}

/* Custom container */
#searchbox{
    width: 50%;
    display: inline-block;
}

#search-container{
    width: 100%;
    margin: 0 auto;
}


.container-full {
    margin: auto;
    width: 100%;
    min-height: 100%;
    background-color: #ef6b01;
    /*background: url(images/landing-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    color: #eee;
    overflow: hidden;
}

.container-full a {
    color: #000000;
    text-decoration: none;
}

.v-center {
    margin-top: 7%;
}
